.vscode
*.class
*.txt
README.md
\bin
Unit-Three/java-proj-3/starter/target/classes/hibernate.cfg.xml
Unit-Three/java-proj-3/starter/src/main/resources/hibernate.cfg.xml
*.xml
*.properties
*.properties
*.cmd
*.jar
*.jar
Digital-Music-Player/digital_music_player/mvnw
*.md
node_modules
*.ico
*.png
Digital-Music-Player/music-frontend/public/manifest.json
