/*Song Playlist styles*/
.playlist {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f2f2f2;
}

.playlist-main-table {
    background-color: rgba(58, 71, 80, 0.4);
    max-height: 60vh;
    width: 95%;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 20px;
    margin: 1.5rem;
}

.playlist table {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    padding: 1rem;
    text-align: center;
    box-shadow: #ccc4;
    transition: all 300ms ease;
}

.playlist p {
    font-size: 4rem;
    font-weight: bold;
    padding: 10px;
}

table thead td {
    font-size: 1.5rem;
    font-weight: bold;
}

table thead td:hover {
    transform: scale(1.1);
    cursor: pointer
}

table tbody tr:hover {
    background-color: rgba(75, 129, 171, 0.8);
}

table tbody td {
    height: 1.5em;
    border-bottom: 2px solid #393e46;
}

table tbody td:hover {
    cursor: pointer;
}


.song-play {
    font-size: 1.5em;
    color: #606470;
}

.song-play:hover {
    transform: scale(1.1);
    color: #ffaa64;
    cursor: pointer;
}

/**Music player styling**/

.music-player {
    background-color: rgba(58, 71, 80, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6em;
    padding: 1em;
    color: #ddd;
}

.song-bar {
    position: absolute;
    left: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
}

.song-infos {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.song-description p {
    margin: 0.2rem;
    font-size: 1.2em;
}

.image-container {
    size: 6rem;
    flex-shrink: 0;
    width: 6rem;
    height: 6rem;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.song-title:hover,
.artist:hover {
    text-decoration: underline;
    cursor: pointer;
}

.progress-controller {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* gap: 1.5rem; */
}

.control-buttons {
    display: flex;
    align-items: center;
    gap: 2em;
    color: white;
    font-size: 1.5rem;
    /* padding: 10px 0 0 0; */
}

i:hover {
    color: #ffaa64;
    cursor: pointer;
}

.play-pause {
    font-size: 2.5rem;
}

.play-pause:hover {
    transform: scale(1.1);
    color: #ffaa64;
    cursor: pointer;
}

.progress-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 0 0 10px 0;
}

.progress-bar {
    height: 10px;
    border-radius: 10px;
    width: 30%;
    background-color: #ccc4;
}

.progress {
    background-color: rgba(75, 129, 171, 0.8);
    border-radius: 10px;
    height: 100%;
    width: 30%;
}