.music-player {
    background-color: rgba(58, 71, 80, 0.8);
    display: flex;
    /* justify-content: space-around; */
    column-gap: 10vw;
    /* justify-content: center; */
    align-items: center;
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 100%;
    /* height: 3rem; */
}

.song-bar {
    /* position: static; */
    left: 2.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-evenly; */
    width: 400px;
    min-width: 400px;
    max-width: 400px;
    /* flex: 0.4; */
    /* min-width: 20%;
    max-width: 20%; */
}

.song {
    display: flex;
    align-items: center;
    gap: 2em;
    position: relative;

    width: 100%;
    max-width: 100%;
    padding-left: 2vw;
    /* max-width: 20%; */
}

.image-container {
    size: 2em;
    flex-shrink: 0;
    width: 2em;
    height: 2em;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.song-description {
    display: flex;
    flex-direction: column;
    /* width: 400px;
    max-width: 100%; */
    /* width: 100%; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.song-description p {
    font-size: 12px;
    text-align: left;
    color: white;
    margin-bottom: 0;
    /* max-width: 100%; */
}

.artist {
    margin-bottom: 1em;
}

.song-title:hover,
.artist:hover {
    text-decoration: underline;
    cursor: pointer;
}

.playlist-icons {
    margin-left: auto;
    font-size: 24px;
}

.playlist-shortcut {
    visibility: hidden;
    position: absolute;
    width: 400px;
    bottom: 5.75rem;
    height: 500px;
    max-height: 40vh;
    background-color: rgba(75, 129, 171, 0.8);
    /* overflow-y: hidden; */
}

.playlist-shortcut-header {
    display: flex;
    justify-content: center;
    padding: 1px 10px 1px 10px;
    border-bottom: 1px solid rgb(255, 255, 255);
    /* width: 95%; */
    margin-bottom: 2px;
}

.playlist-shortcut-header > h5 {
    display: flex;
    align-items: center;
}

.playlist-close {
    margin-left: auto;
    background: none;
    outline: none;
    border: none;
    color: white;
    font-size: 24px;
}

.playlist-shortcut-container {
    background-color: black;
    /* position: fixed; */
    max-width: 400px;
    height: 100%;
    /* padding: 10px; */
    /* max-height: 300px; */
    bottom: 3rem;
    overflow-y: auto;
    scrollbar-color: #ffaa64 rgb(255, 255, 255);
    scrollbar-width: thin;
}

.playlist-table {
    width: 100%;
    font-size: 14px;
}
.playlist-table tr td:nth-child(1),
.playlist-table tr td:nth-child(2),
.playlist-table tr td:nth-child(3) {
    text-overflow: ellipsis;

    /* white-space: nowrap; */
}

.playlist-table tr td:nth-child(1),
.playlist-table tr td:nth-child(2) {
    width: 45%;
    max-width: 45%;
}

.playlist-table tr td:nth-child(2),
.playlist-table tr td:nth-child(3) {
    text-align: center;
}

.playlist-table tr td:nth-child(1) {
    padding-left: 8px;
}

.playlist-table tr td:nth-child(3) {
    width: 10%;
}

.playlist-row {
    cursor: pointer;
}

.playlist-row:hover {
    cursor: pointer;
    background-color: lightblue;
}

.selected-row {
    background-color: lightblue;
}

.progress-controller {
    /* width: 100%; */
    display: flex;
    /* position: absolute; */
    /* margin-left: auto; */
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    color: white;
    padding: 5px;
}

.control-buttons {
    display: flex;
    align-items: center;
    gap: 2em;
    font-size: 1.25em;
}

.activated-button {
    color: #ffaa64;
}

i {
    display: flex;
    align-items: center;
}

i:hover {
    color: #ffaa64;
    cursor: pointer;
    transform: scale(1.1);
}

.play-pause {
    font-size: 1.5em;
}

.play-pause:hover {
    transform: scale(1.1);
    color: #ffaa64;
    cursor: pointer;
}

.progress-container {
    font-size: 0.85rem;
    /* position: relative; */
    /* width: 100%; */
    /* margin-bottom: 12px; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    /* flex: 0.6; */
}

.progress-span {
    width: 0.5vw;
}

.progress-bar {
    width: 100%;
}

.volume-container {
    position: relative;
    height: 100%;
    /* display: flex;
    flex-direction: column; */
    cursor: pointer;
    /* justify-content: center; */
    /* width: 100%;
    height: 100%; */
}

.volume-icon {
    display: flex;
    justify-content: center;
}

.slider {
    display: none;
    position: absolute;
    transform: rotate(270deg);
    top: -300%;
    left: -210%;

    width: 100px;
    /* width: 50px; */
    height: 100%; /* Set the height to 100% to cover the volume container */
    z-index: 1;
}

.volume-container:hover > .slider {
    display: block;
}
