.playlist {
    display: flex;
    width: 100%;
    height: 100%;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.playlist-container {
    width: 100%;
    height: 75vh;
    /* padding-left: 1vw;
    padding-right: 1vw; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    /* height: max-content; */
    /* flex-wrap: wrap;
    gap: 0.5em; */
    /* align-content: center;
    justify-content: center; */
    /* padding-left: 2vw; */
    /* padding-right: 2vw; */

    overflow-y: scroll;
    /* padding-left: 3rem;
    padding-right: 3rem; */
    /* justify-content: center; */
}

.playlist-card {
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 22rem;
    max-height: 12rem; */

    width: 22rem;
    height: 12rem;
    border-radius: 10px;
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    /* margin: 2rem; */
    background: linear-gradient(-225deg, #473b7b 0%, #3584a7 51%, #30d2be 100%);
    transition: all 0.3s ease-in-out;
}

.playlist-card:hover,
.playlist-card.create-playlist-card:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.playlist-card-title {
    margin: 0;
    padding: 0;
    /* height: 100%; */
    width: 100%;
    text-align: center;
    /* align-items: center; */
    padding: auto;
    overflow-wrap: break-word;
}
