.dashboard h2 {
    text-align: left;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1.5em;
}

.dashboard {
    padding: 2em;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    /* overflow: hidden; */
}

.dashboard .list {
    background-color: rgba(58, 71, 80, 0.6);
    display: flex;
    justify-content: space-evenly;
    height: max-content;
    max-height: 65vh;
    border-radius: 1em;
    gap: 0.5em;
    padding: 1em;
    margin-bottom: 0.5em;
    flex-wrap: wrap;
    
    overflow-y: scroll;
}

.dashboard .list::-webkit-scrollbar {
    border-radius: 10px;
    background-color: #a4a8b4;
    height: 8px;
}

.dashboard .list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(75, 129, 171, 0.8);
}

.dashboard .list .item {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    width: 150px;
    height: 175px;
    padding: 1em;
    margin-bottom: 10px;
    background-image: linear-gradient(
        to left,
        rgba(20, 30, 48, 0.6),
        rgba(36, 59, 85, 0.6)
    );
    overflow: hidden;
    border-radius: 1em;
    transition: 0.4s;
}

.dashboard .list .item p {
    display: flex;
    height: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.dashboard .list .item:hover {
    background-color: rgba(75, 129, 171, 0.9);
    transform: translateY(-1px);
    cursor: pointer;
}

.dashboard .list .item img {
    width: 100%;
    border-radius: 6px;
    opacity: 0.8;
}

.dashboard .list .item p {
    color: #fff;
    font-weight: 800;
    font-size: 12px;
    text-align: center;
    white-space: normal;
}
